<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs', {title: "Shop | Cookieshop"}) %>
<body>
  <%- include('../includes/header.ejs') %>

  <main>
    <p>Our current users include:</p>
    <ul>
      <% users.forEach(user => { %>
        <li>
            <a href="/users/view/<%= user.slug %>"><%= user.name %>: <%= user.score %></a>
        </li>
      <% }) %>
    </ul>
  </main>

  <%- include('../includes/footer.ejs') %>
</body>
</html>